// first build app manually
// vim /etc/systemd/system/TwitterBot.service 

[Unit]
Description=Node Server Twitter Bot
After=multi-user.target

[Service]
ExecStart=/usr/bin/node /home/ec2-user/twitter-crypto-prices-bot/dist/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=twitter-bot-server
User=ec2-user
EnvironmentFile=/home/ec2-user/twitter-crypto-prices-bot/app.env

[Install]
WantedBy=multi-user.target

// vim app.env in the root of the project and paste env vars
// start service 
// sudo systemctl enable TwitterBot.service
// sudo systemctl start TwitterBot.service